<div class="container">
    <div id="wrapper">
        {{#each articles}} {{#if saved}}
        <div class="card" style="width: 80%;">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{link}}" target="_blank">
                        {{title}}
                    </a>
                </h5>
            </div>
        </div>
        {{else}}
        <div class="card" style="width: 80%;">
            <div class="card-body">
                <h5 class="card-title">
                    {{title}}
                </h5>
            </div>
        </div>
        {{/if}}
        <button id="deleteArticle" data-id="{{_id}}">Delete Article</button>
        <br><br>
        {{/each}}
    </div>
</div>