<div class="container">
    <div id="wrapper">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Unsaved Articles</h1>
                <br>
                <a class="btn btn-primary btn-lg" id="getsaved" href="/saved" role="button">Get Saved Articles</a>
            </div>
        </div>
        {{#each articles}} {{#unless saved}}
        <div class="card" style="width: 54rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{link}}" target="_blank">
                        {{title}}
                    </a>
                </h5>
            </div>
        </div>
        {{else}}
        <div class="card" style="width: 54rem;">
            <div class="card-body">
                <h5 class="card-title">
                    {{title}}
                </h5>
            </div>
        </div>
        {{/unless}}
        <button id="saveArticle" data-id="{{_id}}">Save Article</button>
        <br>
        <br> {{/each}}
    </div>
</div>